<a href="https://colab.research.google.com/github/victoryg739/Data-Science/blob/main/DSAI_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pprint import pprint
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
pip install praw

Collecting praw
  Downloading praw-7.5.0-py3-none-any.whl (176 kB)
     |████████████████████████████████| 176 kB 7.4 MB/s
Collecting update-checker>=0.18
  Downloading update_checker-0.18.0-py3-none-any.whl (7.0 kB)
Collecting websocket-client>=0.54.0
  Downloading websocket_client-1.3.1-py3-none-any.whl (54 kB)
     |████████████████████████████████| 54 kB 3.3 MB/s
Collecting prawcore<3,>=2.1
  Downloading prawcore-2.3.0-py3-none-any.whl (16 kB)
Requirement already satisfied: requests<3.0,>=2.6.0 in /usr/local/lib/python3.7/dist-packages (from prawcore<3,>=2.1->praw) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.1->praw) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.1->praw) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.1->praw) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.1->praw) (2021.10.8)
Installing collected packages: websocket-client, update-checker, prawcore, praw
Successfully installed praw-7.5.0 prawcore-2.3.0 update-checker-0.18.0 websocket-client-1.3.1

In [ ]:
import praw
user_agent = "Scrapper 1.0 by /u/dsai_1999"
reddit = praw.Reddit(
    client_id="8qCD4qpVFRPbe_Vx-h0stA",
    client_secret="Ucia1v1IUuj-bv4JPwZFgoqQGlZ-0w",
    user_agent = user_agent
)

### Scraping reddit post into dataframe
### **Attribute**
title: The title of the submission.

id: ID of the submission.

subreddit: Provides an instance of Subreddit.

score: The number of upvotes for the submission.

upvote_ratio: The percentage of 
upvotes from all votes on the submission.

created_utc: Time the submission was created, represented in Unix Time.

# New Section

In [ ]:
post = []
for submission in reddit.subreddit("wallstreetbets").top(time_filter="all", limit=3000):
  # print(submission.title)
  # print(submission.id)
  # print(submission.author)
  # print(submission.created_utc)
  # print(submission.score)
  # print(submission.upvote_ratio)
  # print(submission.url)
  post.append([submission.title,submission.id,submission.selftext,submission.subreddit,submission.link_flair_text,submission.score,submission.upvote_ratio,submission.num_comments, submission.created_utc])


print(len(post))

df = pd.DataFrame(post,columns=['title','id',"text","subreddit","flair","upvote","upvote_ratio","num_of_comments","timestamp"])

It appears that you are using PRAW in an asynchronous environment.
It is strongly recommended to use Async PRAW: https://asyncpraw.readthedocs.io.
See https://praw.readthedocs.io/en/latest/getting_started/multiple_instances.html#discord-bots-and-asynchronous-environments for more info.

It appears that you are using PRAW in an asynchronous environment.
It is strongly recommended to use Async PRAW: https://asyncpraw.readthedocs.io.
See https://praw.readthedocs.io/en/latest/getting_started/multiple_instances.html#discord-bots-and-asynchronous-environments for more info.

It appears that you are using PRAW in an asynchronous environment.
It is strongly recommended to use Async PRAW: https://asyncpraw.readthedocs.io.
See https://praw.readthedocs.io/en/latest/getting_started/multiple_instances.html#discord-bots-and-asynchronous-environments for more info.

It appears that you are using PRAW in an asynchronous environment.
It is strongly recommended to use Async PRAW: https://asyncpraw.readthedocs.io.
See https://praw.readthedocs.io/en/latest/getting_started/multiple_instances.html#discord-bots-and-asynchronous-environments for more info.

It appears that you are using PRAW in an asynchronous environment.
It is strongly recommended to use Async PRAW: https://asyncpraw.readthedocs.io.
See https://praw.readthedocs.io/en/latest/getting_started/multiple_instances.html#discord-bots-and-asynchronous-environments for more info.

It appears that you are using PRAW in an asynchronous environment.
It is strongly recommended to use Async PRAW: https://asyncpraw.readthedocs.io.
See https://praw.readthedocs.io/en/latest/getting_started/multiple_instances.html#discord-bots-and-asynchronous-environments for more info.

It appears that you are using PRAW in an asynchronous environment.
It is strongly recommended to use Async PRAW: https://asyncpraw.readthedocs.io.
See https://praw.readthedocs.io/en/latest/getting_started/multiple_instances.html#discord-bots-and-asynchronous-environments for more info.

It appears that you are using PRAW in an asynchronous environment.
It is strongly recommended to use Async PRAW: https://asyncpraw.readthedocs.io.
See https://praw.readthedocs.io/en/latest/getting_started/multiple_instances.html#discord-bots-and-asynchronous-environments for more info.

It appears that you are using PRAW in an asynchronous environment.
It is strongly recommended to use Async PRAW: https://asyncpraw.readthedocs.io.
See https://praw.readthedocs.io/en/latest/getting_started/multiple_instances.html#discord-bots-and-asynchronous-environments for more info.

It appears that you are using PRAW in an asynchronous environment.
It is strongly recommended to use Async PRAW: https://asyncpraw.readthedocs.io.
See https://praw.readthedocs.io/en/latest/getting_started/multiple_instances.html#discord-bots-and-asynchronous-environments for more info.

975

In [ ]:
#df.head(20)
#print(df.loc[[12]])
print(df.loc[[12]].to_string())

                                                                                                                         title      id text       subreddit       flair  upvote  upvote_ratio  num_of_comments     timestamp
12  Can we all take a moment and appreciate the Mods who have grinded through this and held our community together. Thank you.  l6jobf       wallstreetbets  Discussion  196295          0.94             6905  1.611795e+09

In [ ]:
df.shape
df['timestamp'].describe()

count    9.750000e+02
mean     1.614371e+09
std      1.487051e+07
min      1.485899e+09
25%      1.611926e+09
50%      1.612473e+09
75%      1.616006e+09
max      1.647724e+09
Name: timestamp, dtype: float64

# Yahoo Fianace 
Stock database

In [ ]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 7.6 MB/s
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.6 MB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70

In [ ]:
import yfinance as yf

In [ ]:
msft = yf.Ticker("MSFT")

In [ ]:
hist = msft.history(start="2022-03-01", end="2022-03-11", interval="1d")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-03-01,296.399994,299.970001,292.149994,294.950012,31217800,0,0
2022-03-02,295.359985,301.470001,293.700012,300.190002,31873000,0,0
2022-03-03,302.890015,303.130005,294.049988,295.920013,27314500,0,0
2022-03-04,294.290009,295.660004,287.170013,289.859985,32356500,0,0
2022-03-07,288.529999,289.690002,278.529999,278.910004,43157200,0,0
2022-03-08,277.799988,283.959991,270.000000,275.850006,48159500,0,0
2022-03-09,283.440002,289.600006,280.779999,288.500000,35204500,0,0
2022-03-10,283.019989,286.600006,280.579987,285.589996,30628000,0,0

In [ ]:
voo = yf.Ticker("VOO")
voo_data = voo.history(start="2022-02-01", end="2022-03-15", interval="1d")
voo_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-02-01,414.339996,417.040009,410.899994,416.390015,8154900,0,0
2022-02-02,418.980011,421.179993,416.540009,420.359985,6726500,0,0
2022-02-03,414.589996,416.429993,409.790009,410.589996,7658300,0,0
2022-02-04,410.339996,416.239990,408.059998,412.519989,8210000,0,0
2022-02-07,413.230011,414.619995,409.899994,411.160004,5620900,0,0
2022-02-08,410.720001,415.459991,409.350006,414.489990,5565700,0,0
2022-02-09,418.549988,420.869995,418.350006,420.570007,6284500,0,0
2022-02-10,414.929993,420.799988,411.140015,413.179993,9260500,0,0
2022-02-11,413.149994,415.200012,403.570007,404.940002,10458600,0,0
2022-02-14,404.429993,405.989990,400.239990,403.619995,10167600,0,0
2022-02-15,408.179993,410.290009,407.459991,410.100006,6815000,0,0
2022-02-16,408.200012,411.890015,406.320007,410.589996,7743800,0,0
2022-02-17,407.489990,407.980011,401.230011,401.859985,7541000,0,0
2022-02-18,402.149994,403.309998,397.000000,399.290009,10570800,0,0
2022-02-22,397.049988,400.369995,391.510010,394.920013,10414700,0,0
2022-02-23,397.739990,398.320007,387.380005,387.809998,12154900,0,0
2022-02-24,377.760010,394.170013,377.500000,393.769989,21277200,0,0
2022-02-25,394.950012,402.519989,393.399994,402.369995,11665200,0,0
2022-02-28,397.179993,402.850006,396.000000,401.359985,11855900,0,0
2022-03-01,400.010010,401.920013,392.790009,395.339996,9124400,0,0
2022-03-02,397.720001,404.100006,396.779999,402.600006,8185200,0,0
2022-03-03,405.019989,405.540009,398.880005,400.579987,8745300,0,0
2022-03-04,396.929993,398.429993,393.369995,397.339996,6317700,0,0
2022-03-07,396.730011,397.000000,385.559998,385.609985,8411500,0,0
2022-03-08,385.760010,392.739990,381.640015,382.700012,9356100,0,0
2022-03-09,390.880005,394.850006,388.720001,392.899994,5812600,0,0
2022-03-10,388.440002,392.010010,386.529999,391.149994,6394800,0,0
2022-03-11,393.619995,394.190002,385.679993,386.160004,5871000,0,0
2022-03-14,387.070007,390.269989,382.250000,383.339996,6455000,0,0

In [ ]:
tesla = yf.Ticker("TSLA")
tesla_data = tesla.history(start="2022-02-01", end="2022-03-15", interval="1D")
tesla_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-02-01,935.210022,943.700012,905.000000,931.250000,24379400,0,0
2022-02-02,928.179993,931.500000,889.409973,905.659973,22264300,0,0
2022-02-03,882.000000,937.000000,880.520020,891.140015,26285200,0,0
2022-02-04,897.219971,936.500000,881.169983,923.320007,24541800,0,0
2022-02-07,923.789978,947.770020,902.710022,907.340027,20331500,0,0
2022-02-08,905.530029,926.289978,894.799988,922.000000,16909700,0,0
2022-02-09,935.000000,946.270020,920.000000,932.000000,17419800,0,0
2022-02-10,908.369995,943.809998,896.700012,904.549988,22042300,0,0
2022-02-11,909.630005,915.960022,850.700012,860.000000,26548600,0,0
2022-02-14,861.570007,898.880005,853.150024,875.760010,22585500,0,0
2022-02-15,900.000000,923.000000,893.380005,922.429993,19095400,0,0
2022-02-16,914.049988,926.429993,901.210022,923.390015,17098100,0,0
2022-02-17,913.260010,918.500000,874.099976,876.349976,18392800,0,0
2022-02-18,886.000000,886.869995,837.609985,856.979980,22833900,0,0
2022-02-22,834.130005,856.729980,801.099976,821.530029,27762700,0,0
2022-02-23,830.429993,835.299988,760.559998,764.039978,31752300,0,0
2022-02-24,700.390015,802.479980,700.000000,800.770020,45107400,0,0
2022-02-25,809.229980,819.500000,782.400024,809.869995,25355900,0,0
2022-02-28,815.010010,876.859985,814.710022,870.429993,33002300,0,0
2022-03-01,869.679993,889.880005,853.780029,864.369995,24922300,0,0
2022-03-02,872.130005,886.479980,844.270020,879.890015,24881100,0,0
2022-03-03,878.770020,886.440002,832.599976,839.289978,20541200,0,0
2022-03-04,849.099976,855.650024,825.159973,838.289978,22333200,0,0
2022-03-07,856.299988,866.140015,804.570007,804.580017,24164700,0,0
2022-03-08,795.530029,849.989990,782.169983,824.400024,26799700,0,0
2022-03-09,839.479980,860.559998,832.010010,858.969971,19728000,0,0
2022-03-10,851.450012,854.450012,810.359985,838.299988,19549500,0,0
2022-03-11,840.200012,843.799988,793.770020,795.349976,22272800,0,0
2022-03-14,780.609985,800.700012,756.039978,766.369995,23717400,0,0

# Data Cleaning
Clean data from **title** from dataframe and from yahoofin dataframe

Make all characters lower case

In [ ]:
df['title'] = df['title'].str.lower()
df.head()

,title,id,text,subreddit,flair,upvote,upvote_ratio,num_of_comments,timestamp
0,"what are your moves tomorrow, march 21, 2022",titfyy,**Read [rules](https://www.reddit.com/r/wallst...,wallstreetbets,Daily Discussion,246,0.90,7407,1.647806e+09
1,"the wsb trash bin, discussion thread for march...",tinyyk,Welcome to WSB's trash bin. An experimental we...,wallstreetbets,Trash Bin,175,0.90,475,1.647791e+09
2,"on the plus side, he can claim a loss every ye...",tiz97w,,wallstreetbets,Meme,2673,0.96,724,1.647823e+09
3,i appropriated this vintage postage stamp to m...,tijurf,,wallstreetbets,Meme,10989,0.94,159,1.647779e+09
4,housing isn't coming down. ever.,tisv9g,So tired of reading the endless copium on hous...,wallstreetbets,Discussion,2132,0.80,1494,1.647805e+09

Remove Punctuation

In [ ]:
df['title'] = df['title'].str.replace('[^\w\s]','')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

Remove emoji's

In [ ]:
df['title'] = df['title'].apply(lambda x: x.encode('ascii', 'ignore').decode('ascii'))
#pd.set_option("display.max_colwidth", -1)
#df['title'].head(50)

Remove stopwords

In [ ]:
import spacy
en = spacy.load('en_core_web_sm')
sw_spacy = en.Defaults.stop_words

In [ ]:
print(len(sw_spacy))

326

In [ ]:
df['stopwords'] = df['title'].apply(lambda x:" ".join(word for word in x.split() if word not in sw_spacy))

Figuring out top common words from top 100 searches

In [ ]:
pd.Series(" ".join(df['stopwords'].head(100)).split()).value_counts()

march     7
2022      7
week      7
wsb       6
year      6
         ..
charts    1
green     1
red       1
sub       1
jpow      1
Length: 449, dtype: int64

In [ ]:
pd.Series(" ".join(df['stopwords'].head(100)).split()).value_counts()[:30]

march        7
2022         7
week         7
wsb          6
year         6
like         5
dont         4
calls        4
tesla        4
earnings     4
spy          4
need         3
bears        3
inflation    3
market       3
2020         3
gme          3
russian      3
loss         3
monday       3
stock        3
good         3
having       3
vs           2
2            2
risk         2
profit       2
fun          2
1000         2
youre        2
dtype: int64

Flitering again after using stopwords

In [ ]:
additional_stopwords = ['like', 'dont', 'calls', 'year', 'having', 'youre']

In [ ]:
df['stopwords'].apply(lambda x: " ".join(word for word in x.split()if word not in additional_stopwords))

0                           moves tomorrow march 21 2022
1          wsb trash bin discussion thread march 20 2022
2                              plus claim loss rest life
3         appropriated vintage postage stamp wsb correct
4                                    housing isnt coming
                             ...
328       best investment analysis discovery disck disca
329    end petrodollar begun saudi considering sellin...
330                                   jpow shock 05 hike
331                           whats moving markets today
332                                               priced
Name: stopwords, Length: 333, dtype: object

Lemmatization

In [ ]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
df['title'] = df['title'].astype(str)
df.dtypes

import nltk

w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()

def lemmatize_text(text):
    return [lemmatizer.lemmatize(w) for w in w_tokenizer.tokenize(text)]

df['title'] = df.title.apply(lemmatize_text)

LookupError: ignored

In [ ]:
df['title'] = df['title'].astype(object)
df.head()

,title,id,text,subreddit,flair,upvote,upvote_ratio,num_of_comments,timestamp,stopwords
0,what are your moves tomorrow march 21 2022,titfyy,**Read [rules](https://www.reddit.com/r/wallst...,wallstreetbets,Daily Discussion,246,0.90,7407,1.647806e+09,moves tomorrow march 21 2022
1,the wsb trash bin discussion thread for march ...,tinyyk,Welcome to WSB's trash bin. An experimental we...,wallstreetbets,Trash Bin,175,0.90,475,1.647791e+09,wsb trash bin discussion thread march 20 2022
2,on the plus side he can claim a loss every yea...,tiz97w,,wallstreetbets,Meme,2673,0.96,724,1.647823e+09,plus claim loss year rest life
3,i appropriated this vintage postage stamp to m...,tijurf,,wallstreetbets,Meme,10989,0.94,159,1.647779e+09,appropriated vintage postage stamp wsb correct
4,housing isnt coming down ever,tisv9g,So tired of reading the endless copium on hous...,wallstreetbets,Discussion,2132,0.80,1494,1.647805e+09,housing isnt coming

Timestamp

In [ ]:
import datetime
import time

df["timestamp"] = pd.to_datetime(df["timestamp"],  unit='s', origin='unix').dt.date

df.head()

,title,id,text,subreddit,flair,upvote,upvote_ratio,num_of_comments,timestamp,stopwords
0,what are your moves tomorrow march 21 2022,titfyy,**Read [rules](https://www.reddit.com/r/wallst...,wallstreetbets,Daily Discussion,246,0.90,7407,2022-03-20,moves tomorrow march 21 2022
1,the wsb trash bin discussion thread for march ...,tinyyk,Welcome to WSB's trash bin. An experimental we...,wallstreetbets,Trash Bin,175,0.90,475,2022-03-20,wsb trash bin discussion thread march 20 2022
2,on the plus side he can claim a loss every yea...,tiz97w,,wallstreetbets,Meme,2673,0.96,724,2022-03-21,plus claim loss year rest life
3,i appropriated this vintage postage stamp to m...,tijurf,,wallstreetbets,Meme,10989,0.94,159,2022-03-20,appropriated vintage postage stamp wsb correct
4,housing isnt coming down ever,tisv9g,So tired of reading the endless copium on hous...,wallstreetbets,Discussion,2132,0.80,1494,2022-03-20,housing isnt coming

Filtering of flairs (No memes ?)